body {
  text-align: center;
  background-color: rgb(247, 233, 163);
}

.container {
  border-radius: 10px;
  padding: 20px;
  display: block;
  margin: 0 auto;
  width: 600px;
  background-color: rgb(249, 249, 237);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}

.croissant-photo {
  max-width: 90%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}

.navigation-links a {
  color: rgb(4, 123, 16);
  font-weight: bold;
  margin: 20px;
}
